[Unit]
Description=%i service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/%i
EnvironmentFile=/etc/%i/.env
Restart=always
RestartSec=5
StateDirectory=%i
StandardOutput=journal
StandardError=journal
SyslogIdentifier=%i

[Install]
WantedBy=multi-user.target
